* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; 
    box-sizing: border-box;
  }

/* ::VARIABLES:: */

$color-white: #ffffff;
$color-black: #000000;

$color-blue: #25b8ff;
$color-blue-hover: #0091d8;

$color-blue-100: #3fc;
$color-blue-100-hover: #27eaba;

$color-orange: #f90;
$color-orange-hover: #e68d07;

$color-gray-100: #979797;

$color-age-16: #ec1d25;

$bg-header: rgba(0,0,0,.8);
$bg-header-secondary: rgba(0,0,0,.7);
$bg-body: #333;
$bg-footer: #252525;

body {
  background: $bg-body;
}

.btn-primary {
  color: $color-blue;
  border: 1px solid $color-blue;
  padding: 10px;

  &:hover {
    background: $color-blue-hover;
    color: $color-white;
  }
}

@import './header.scss';
@import './hero.scss';
@import './movies.scss';
@import './footer.scss';