footer {
  background: $bg-footer;
  padding: 10px;

  @media screen and (min-width: 1024px) {
    padding: 50px 60px;
  }

  @media screen and (min-width: 1280px) {
    padding: 50px 120px;
  }

  h5 {
    font-size: 18px;
    color: $color-white;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px 0 20px;
  }

  .footer-row-1 {
    @media screen and (min-width: 768px) {
      display: flex;
    }

    &-app {
      margin-bottom: 100px;

      @media screen and (min-width: 768px) {
        width: 280px;
      }

      > div {
        display: flex;
      }

      a {
        img {
          width: 130px;
  
        }
        
        &:last-of-type {
          margin-left: 20px;
        }
      }
    }

    &-network {
      margin-bottom: 50px;

      @media screen and (min-width: 768px) {
        width: 185px;
        margin: 0 50px 50px;
      }

      ul {
        display: flex;
        justify-content: space-between;
        width: 180px;

        a {
          img {
            width: 35px;
          }
  
        }
      }
    }

    &-help {
      margin-bottom: 50px;
      
      @media screen and (min-width: 768px) {
        width: 170px;
      }
    }
  }
}

.footer-row-2 {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 50px;
  }

  &-menu {
    margin-bottom: 50px;

    h6 {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;

      @media screen and (min-width: 768px) {
        margin-bottom: 15px;
        font-size: 18px;
      }
    }
  
    a {
      color: $color-blue;
      
      &:hover {
        color: $color-blue-hover;
      }
    }
  
    li {
      margin-bottom: 5px;

      @media screen and (min-width: 768px) {
        margin-bottom: 10px;
      }
    }
  }
}

.footer-row-3 {
  border-top: 1px solid $bg-body;
  color: $color-gray-100;
  padding-top: 30px;

  small {
    display: block;
    margin-bottom: 10px;
  }
}