header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.main-header {
  background: $bg-header;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 10px 60px;
  }

  @media screen and (min-width: 1280px) {
    padding: 10px 120px;
  }

  h1 {
    a {
      display: flex;
    }
  }

  &-logo-mobile {
    width: 45px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &-logo-desktop {
    display: none;
    width: 230px;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &-searchbar {
    display: flex;
    align-items: center;

    &-search {
      @media screen and (min-width: 1280px) {
        position: relative;
        margin-right: 20px;
      }

      input {
       display: none;
       height: 30px;
       border: none;
       border-radius: 2px;
       padding: 0 10px;
       width: 250px;
       outline: none;

        @media screen and (min-width: 1280px) {
          display: block;
        }
      }

      > span {
        &.active {
          @media screen and (max-width: 1280px) {
            position: absolute;
            bottom: -50px;
            right: 0;
            left: 0;
            background: rgba(0,0,0, .5);
            padding: 10px;
            text-align: center;

            > input {
              display: block;
              width: 100%;
            }
          }

          @media screen and (min-width: 1024px) {
            padding: 10px 60px;
          }
        }
        
      }
  
      button {
        border: none;
        background: none;
        margin: 0 10px;
        outline: none;
        cursor: pointer;

        @media screen and (min-width: 1280px) {
          position: absolute;
          top: 0;
          bottom: -1px;
          right: 0px;
        }
  
        img {
          width: 20px;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      
      li {
        margin: 0 10px; 
        position: relative;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          @media screen and (min-width: 1280px) {
            display: flex;
            justify-content: space-between;
            color: $color-white;
            width: 130px;
          }          

          span {
            display: none;
  
            @media screen and (min-width: 1280px) {
              display: block;
            }
          }
        }

        img {
          width: 20px;
        }
      
        .submenu {
          background: $color-white;
          position: absolute;
          padding: 20px;
          width: 200px;
          left: -40px;
          top: 40px;
          border-radius: 5px;
          line-height: 26px;

          @media screen and (max-width: 1280px) {
            left: -160px;
          }

          &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-white;
            position: absolute;
            top: -9px;
            left: 80px;

            @media screen and (max-width: 1280px) {
              left: 160px;
            }
          }
        }
      }
    }

  }
}

.secondary-header {
  background: $bg-header-secondary;
  padding: 10px;

  @media screen and (min-width: 1024px) {
    padding: 10px 60px;
  }

  @media screen and (min-width: 1280px) {
    padding: 10px 120px;
  }

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 6px;

      &:last-of-type {
        margin-right: 0;
      }

      @media screen and (min-width: 768px) {
        margin: 0 15px;
      }
      
      a {
        color: $color-blue;

        @media screen and (min-width: 768px) {
          font-size: 18px;;
        }
      }
    }
  }
}