.hero {
  background-image: url(https://ingresso-a.akamaihd.net/img/cinema/cartaz/22805-destaque.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin-bottom: 30px;
  position: relative;
  padding: 10px;

  &-text {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    left: 0;
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 0, rgba(33, 33, 33, 0) 1%, rgba(0, 0, 0, 0.85) 100%);
    width: 100%;

    @media screen and (min-width: 1024px) {
      left: 60px;
      padding-bottom: 50px;
      width: auto;
    }

    @media screen and (min-width: 1280px) {
      left: 120px;
    }
    
    &-tags {
      display: flex;

      p {
        padding: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;

        &:last-of-type {
          margin-left: 10px;
        }
      }

      &-family {
        background: $color-blue-100;
      }

      &-tranding {
        background: $color-orange;
      }
    }

    &-title {
      color: $color-white;
      margin: 15px 0;
    }

    &-movie-type {
      display: flex;
      
      p {
        color: $color-white;
        padding: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        border: 1px solid $color-white;

        &:last-of-type {
          margin-left: 10px;
        }
      }
    }
  }
}