.movies {
  padding: 10px;
  margin-bottom: 30px;

  @media screen and (min-width: 1024px) {
    padding: 50px 60px;
  }

  @media screen and (min-width: 1280px) {
    padding: 50px 120px;
  }
  
  &-label {
    display: flex;
    align-items: center;
    margin: 0 0 20px 10px;
    
    &-title {
      color: $color-white;
      text-transform: uppercase;
      font-weight: 400;
      margin-right: 20px;
    }

    &-link {
      color: $color-blue;
    }
  }

  &-thumbnail {
    &-list {
      &-item {
        padding: 10px;
        
        > a {
          position: relative;
          display: block;
        }
        
        img {
          width: 100%;
        }
      
        &-info {
          display: none;
          
          @media screen and (min-width: 768px) {
            width: 100%;
            padding: 10px;
            display: block;
            top: 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
            position: absolute;
            display: flex;
            justify-content: space-between;

            &-tags {
              display: flex;
              justify-content: space-between;
              color: $color-black;

              p {
                padding: 5px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 900;
                margin-right: 5px;
              }

              &-family {
                background: $color-blue-100;
              }

              &.tranding {
                background: $color-orange;
              }

              &.family {
                background: $color-blue-100;
              }
            }

            &-age {
              padding: 5px;
              margin: 0;
              color: $color-white;
              font-weight: 900;
              font-size: 12px;
              text-transform: uppercase;

              &.years-10 {
                background: $color-blue;
              }

              &.years-12 {
                background: yellow;
              }

              &.years-14 {
                background: $color-orange;
              }

              &.years-16 {
                background: red;
              }

              &.years-18 {
                background: black;
              }

              &.free-years {
                background: green;
              }

              &.verify-age {
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                  position: absolute;
                  top: 40px;
                  left: 10px;
                }

                background: red;
              }
            }
          }
        } 
      }
    }
  }

  &-loading {
    text-align: center;
  }
}

.slick-dots li button:before {
  color: $color-white !important;
}