* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

/* ::VARIABLES:: */
body {
  background: #333;
}

.btn-primary {
  color: #25b8ff;
  border: 1px solid #25b8ff;
  padding: 10px;
}
.btn-primary:hover {
  background: #0091d8;
  color: #ffffff;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.main-header {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .main-header {
    padding: 10px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .main-header {
    padding: 10px 120px;
  }
}
.main-header h1 a {
  display: flex;
}
.main-header-logo-mobile {
  width: 45px;
}
@media screen and (min-width: 768px) {
  .main-header-logo-mobile {
    display: none;
  }
}
.main-header-logo-desktop {
  display: none;
  width: 230px;
}
@media screen and (min-width: 768px) {
  .main-header-logo-desktop {
    display: block;
  }
}
.main-header-searchbar {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .main-header-searchbar-search {
    position: relative;
    margin-right: 20px;
  }
}
.main-header-searchbar-search input {
  display: none;
  height: 30px;
  border: none;
  border-radius: 2px;
  padding: 0 10px;
  width: 250px;
  outline: none;
}
@media screen and (min-width: 1280px) {
  .main-header-searchbar-search input {
    display: block;
  }
}
@media screen and (max-width: 1280px) {
  .main-header-searchbar-search > span.active {
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
  }
  .main-header-searchbar-search > span.active > input {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .main-header-searchbar-search > span.active {
    padding: 10px 60px;
  }
}
.main-header-searchbar-search button {
  border: none;
  background: none;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .main-header-searchbar-search button {
    position: absolute;
    top: 0;
    bottom: -1px;
    right: 0px;
  }
}
.main-header-searchbar-search button img {
  width: 20px;
}
.main-header-searchbar ul {
  display: flex;
  align-items: center;
}
.main-header-searchbar ul li {
  margin: 0 10px;
  position: relative;
}
.main-header-searchbar ul li:last-of-type {
  margin-right: 0;
}
@media screen and (min-width: 1280px) {
  .main-header-searchbar ul li a {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    width: 130px;
  }
}
.main-header-searchbar ul li a span {
  display: none;
}
@media screen and (min-width: 1280px) {
  .main-header-searchbar ul li a span {
    display: block;
  }
}
.main-header-searchbar ul li img {
  width: 20px;
}
.main-header-searchbar ul li .submenu {
  background: #ffffff;
  position: absolute;
  padding: 20px;
  width: 200px;
  left: -40px;
  top: 40px;
  border-radius: 5px;
  line-height: 26px;
}
@media screen and (max-width: 1280px) {
  .main-header-searchbar ul li .submenu {
    left: -160px;
  }
}
.main-header-searchbar ul li .submenu:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  position: absolute;
  top: -9px;
  left: 80px;
}
@media screen and (max-width: 1280px) {
  .main-header-searchbar ul li .submenu:before {
    left: 160px;
  }
}

.secondary-header {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .secondary-header {
    padding: 10px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .secondary-header {
    padding: 10px 120px;
  }
}
.secondary-header ul {
  display: flex;
  justify-content: flex-end;
}
.secondary-header ul li {
  margin: 0 6px;
}
.secondary-header ul li:last-of-type {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .secondary-header ul li {
    margin: 0 15px;
  }
}
.secondary-header ul li a {
  color: #25b8ff;
}
@media screen and (min-width: 768px) {
  .secondary-header ul li a {
    font-size: 18px;
  }
}

.hero {
  background-image: url(https://ingresso-a.akamaihd.net/img/cinema/cartaz/22805-destaque.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin-bottom: 30px;
  position: relative;
  padding: 10px;
}
.hero-text {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  left: 0;
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 0, rgba(33, 33, 33, 0) 1%, rgba(0, 0, 0, 0.85) 100%);
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .hero-text {
    left: 60px;
    padding-bottom: 50px;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .hero-text {
    left: 120px;
  }
}
.hero-text-tags {
  display: flex;
}
.hero-text-tags p {
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}
.hero-text-tags p:last-of-type {
  margin-left: 10px;
}
.hero-text-tags-family {
  background: #3fc;
}
.hero-text-tags-tranding {
  background: #f90;
}
.hero-text-title {
  color: #ffffff;
  margin: 15px 0;
}
.hero-text-movie-type {
  display: flex;
}
.hero-text-movie-type p {
  color: #ffffff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  border: 1px solid #ffffff;
}
.hero-text-movie-type p:last-of-type {
  margin-left: 10px;
}

.movies {
  padding: 10px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .movies {
    padding: 50px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .movies {
    padding: 50px 120px;
  }
}
.movies-label {
  display: flex;
  align-items: center;
  margin: 0 0 20px 10px;
}
.movies-label-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 20px;
}
.movies-label-link {
  color: #25b8ff;
}
.movies-thumbnail-list-item {
  padding: 10px;
}
.movies-thumbnail-list-item > a {
  position: relative;
  display: block;
}
.movies-thumbnail-list-item img {
  width: 100%;
}
.movies-thumbnail-list-item-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .movies-thumbnail-list-item-info {
    width: 100%;
    padding: 10px;
    display: block;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
  .movies-thumbnail-list-item-info-tags {
    display: flex;
    justify-content: space-between;
    color: #000000;
  }
  .movies-thumbnail-list-item-info-tags p {
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    margin-right: 5px;
  }
  .movies-thumbnail-list-item-info-tags-family {
    background: #3fc;
  }
  .movies-thumbnail-list-item-info-tags.tranding {
    background: #f90;
  }
  .movies-thumbnail-list-item-info-tags.family {
    background: #3fc;
  }
  .movies-thumbnail-list-item-info-age {
    padding: 5px;
    margin: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
  }
  .movies-thumbnail-list-item-info-age.years-10 {
    background: #25b8ff;
  }
  .movies-thumbnail-list-item-info-age.years-12 {
    background: yellow;
  }
  .movies-thumbnail-list-item-info-age.years-14 {
    background: #f90;
  }
  .movies-thumbnail-list-item-info-age.years-16 {
    background: red;
  }
  .movies-thumbnail-list-item-info-age.years-18 {
    background: black;
  }
  .movies-thumbnail-list-item-info-age.free-years {
    background: green;
  }
  .movies-thumbnail-list-item-info-age.verify-age {
    background: red;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  .movies-thumbnail-list-item-info-age.verify-age {
    position: absolute;
    top: 40px;
    left: 10px;
  }
}
.movies-loading {
  text-align: center;
}

.slick-dots li button:before {
  color: #ffffff !important;
}

footer {
  background: #252525;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 50px 60px;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 50px 120px;
  }
}
footer h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px 0 20px;
}
@media screen and (min-width: 768px) {
  footer .footer-row-1 {
    display: flex;
  }
}
footer .footer-row-1-app {
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  footer .footer-row-1-app {
    width: 280px;
  }
}
footer .footer-row-1-app > div {
  display: flex;
}
footer .footer-row-1-app a img {
  width: 130px;
}
footer .footer-row-1-app a:last-of-type {
  margin-left: 20px;
}
footer .footer-row-1-network {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  footer .footer-row-1-network {
    width: 185px;
    margin: 0 50px 50px;
  }
}
footer .footer-row-1-network ul {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
footer .footer-row-1-network ul a img {
  width: 35px;
}
footer .footer-row-1-help {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  footer .footer-row-1-help {
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .footer-row-2 {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 50px;
  }
}
.footer-row-2-menu {
  margin-bottom: 50px;
}
.footer-row-2-menu h6 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer-row-2-menu h6 {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.footer-row-2-menu a {
  color: #25b8ff;
}
.footer-row-2-menu a:hover {
  color: #0091d8;
}
.footer-row-2-menu li {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .footer-row-2-menu li {
    margin-bottom: 10px;
  }
}

.footer-row-3 {
  border-top: 1px solid #333;
  color: #979797;
  padding-top: 30px;
}
.footer-row-3 small {
  display: block;
  margin-bottom: 10px;
}

/*# sourceMappingURL=base.css.map */
