/* Error: Undefined variable.
 *    ,
 * 44 |         background: $color-blue-100;
 *    |                     ^^^^^^^^^^^^^^^
 *    '
 *   src/styles/scss/hero.scss 44:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 44 \2502          background: $color-blue-100;\a    \2502                      ^^^^^^^^^^^^^^^\a    \2575 \a   src/styles/scss/hero.scss 44:21  root stylesheet";
}
