/* Error: Undefined variable.
 *    ,
 * 19 |       color: $color-white;
 *    |              ^^^^^^^^^^^^
 *    '
 *   src/styles/scss/movies.scss 19:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 19 \2502        color: $color-white;\a    \2502               ^^^^^^^^^^^^\a    \2575 \a   src/styles/scss/movies.scss 19:14  root stylesheet";
}
